$highlight: #3498db;
$alabaster: #fafafa;
$gallery: #efefef;
$mine-shaft: #333333;
$dusty-gray: #999999;
$black: #000000;
$white: #ffffff;
$orange: #ffa500;
$red: #ff0000;
$emperor: #555555;
$mine-shaft: #282828;
$harlequin: #33ff33;
$curious-blue: #3498db;
