$highlight: #3498db;

.richText {
    position: relative;
    background-color: #FAFAFA;
    border: #EFEFEF solid 1px;
    color: #333333;
    width: 100%;
    
    .richText-form {
        font-family: Calibri,Verdana,Helvetica,sans-serif;
        label {
            display: block;
            padding: 10px 15px;
        }

        input[type="text"], input[type="file"], select {
            padding: 10px 15px;
            border: #999999 solid 1px;
            min-width: 200px;
            width: 100%;
        }

        select {
            cursor: pointer;
        }

        button {
            margin: 10px 0;
            padding: 10px 15px;
            background-color: $highlight;
            border: none;
            color: #FAFAFA;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }
    }

    .richText-toolbar {
        min-height: 20px;
        border-bottom: #EFEFEF solid 1px;

        ul {
            li {
                float: left;
                display: block;
                list-style: none;

                a {
                    display: block;
                    padding: 10px 15px;
                    border-right: #EFEFEF solid 1px;
                    cursor: pointer;
                    -webkit-transition: background-color 0.4s;
                    -moz-transition: background-color 0.4s;
                    transition: background-color 0.4s;
                    
                    .richText-dropdown-outer {
                        display: none;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: rgba(0,0,0,0.3);
                        cursor: default;
                        
                        .richText-dropdown {
                            display: block;
                            margin: 3% auto 0 auto;
                            background-color: #FAFAFA;
                            border: #EFEFEF solid 1px;
                            min-width: 100px;
                            width: 300px;
                            max-width: 90%;
                            -webkit-box-shadow:0 0 5px 0 #333;
                            -moz-box-shadow:0 0 5px 0 #333;
                            box-shadow:0 0 5px 0 #333;
                        }


                        ul.richText-dropdown {
                            list-style: none;

                            li {
                                display: block;
                                float: none;
                                font-family: Calibri,Verdana,Helvetica,sans-serif;
                                
                                a {
                                    display: block;
                                    padding: 10px 15px;
                                    border-bottom: #EFEFEF solid 1px;
                                }

                                a:hover {
                                    background-color: #FFFFFF;
                                }
                            }
                        }

                        div.richText-dropdown {
                            padding: 10px 15px;
                            
                        }
                    }


                }

                a:hover {
                    background-color: #FFFFFF;
                }
            }
    
            li[data-disable="true"] {
                opacity: 0.1;
                a {
                    cursor: default;
                }
            }

            li:hover:not([data-disable="true"]) .richText-dropdown-outer {
                display: block;
            }
        }

        ul:after {
            display: block;
            content: "";
            clear: both;
        }
    }

    .richText-editor {
        padding: 20px;
        background-color: #FFFFFF;
        border-left: #FFFFFF solid 2px;
        font-family: Calibri,Verdana,Helvetica,sans-serif;
        height: 300px;
        outline: none;
    }


    .richText-editor:focus {
        border-left: $highlight solid 2px;
    }

    .richText-initial {
        padding: 10px;
        background-color: #333333;
        border: none;
        color: #FAFAFA;
        font-family: Monospace,Calibri,Verdana,Helvetica,sans-serif;
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        min-height: 400px;
        height: 400px;
    }


}

